{% extends "_base.html" %}

{% block meta %}
<meta property="og:title" content="{{info.title}}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://meliodas.fr/info/{{info.slug}}"/>
<meta property="og:image" content="http://meliodas.fr//media/{{info.picture}}"/>
<meta property="og:description" content="{{proj.title}}"/>
<meta property="og:site_name" content="Meliodas"/>
<meta property="fb:admins" content="100009697442254"/>
{% endblock %}

{% block title %}
  {{info.title}}
{% endblock %}

{% block body %}
  <article class="full-article no-top-margin">
    <header>
      <div class="picture">
            <img class="" src="/media/{{info.picture}}">
      </div>
      <section class="text-center article-title">
        <h1 class="text-center">{{info.title}}</h1>
      </section>
    </header>

    <section class="post text-left">
      <p>
        {{proj.fiche}}
      </p>
    </section>
  </article>
{% endblock %}
