/*li a{
  color: green;
}

section{
  color: blue;
}

img{
  width:12em;
  border: rgba(31, 51, 34, 0.85);;
  border-width: 5px;
  border-radius: 50%;
  height: 12em;
  border-style: solid;
}*/
.tag {
    font-family: Helvetica, Arial, sans-serif;
    background: #588fe5;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 30px 0 0;
    text-decoration: none;
}

.tag:hover {
    background-color: #739fe4;
}

.tag:before {
    background: #fff;
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    border-radius: 20px;
    margin: 0 5px 0 0;
}

.tag:after {
    display: inline-block;
    border: 19px solid;
    border-color: transparent transparent transparent #588fe5;
    height: 0;
    width: 0;
    position: absolute;
    right: -38px;
    top: 0;
    content: "";
    display: inline-block;
}


.tag:hover:after {
    border-color: transparent transparent transparent #739fe4;
}

form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
    caret-color: rgba(38, 37, 125, 0.74);;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
.submit {
    float: right;
}
