{% extends "_base.html" %}

{% block title %}
{{proj.name_text_field}}
{% endblock %}

{% block body %}
<article class="full-article no-top-margin">
  <header>
    <div class="picture">
          <img class="" src="{{BASE_DIR}}/media/{{proj.picture}}">
    </div>
    <section class="text-center article-title">
      <h1 class="text-center">{{proj.name_text_field}}</h1>
      <p class="text-right">Difficulté : {{proj.difficulty}}
      Etat du projet :
      {% if proj.fini %}
          Fini
      {% else %}
        En cours
      {% endif %}
       </p>
    </section>
  </header>

  <section class="post text-left">
    <p>
      {{proj.fiche}}
    </p>
  </section>
</article>
{% endblock %}
